{% extends "base.html" %}
{% block content %}
{# Owl Carousel #}
<div class="owl-carousel owl-theme" id="owl">
        <div class="site-slider">
          <div class="slider-img">
            <img src="/media/original_images/foto_1.jpg" alt="foto1">
          </div>
            <div class="slider-text">
                <h3> Lorem ipsum 1</h3>
                <p>Lorem ipsum 111</p>
                <button class="slider-btn">See More</button>
            </div>
        </div>
        <div class="site-slider">
          <div class="slider-img">
            <img src="/media/original_images/foto_1.jpg" alt="foto1">
          </div>
            <div class="slider-text">
                <h3> Lorem ipsum 1</h3>
                <p>Lorem ipsum 111</p>
                <button class="slider-btn">See More</button>
            </div>
        </div>
        <div class="site-slider">
          <div class="slider-img">
            <img src="/media/original_images/foto_1.jpg" alt="foto1">
          </div>
            <div class="slider-text">
                <h3> Lorem ipsum 1</h3>
                <p>Lorem ipsum 111</p>
                <button class="slider-btn">See More</button>
            </div>
        </div>
</div>
{# Content Card  #}
<div class="container-fluid">
    <div class="wood-wrapper">
        <div class="row">
            <div class="col-lg-12">
                 <div class="text-center pt-5 pb-2">
                    <h2 class="home-content-title">What we do</h2>
                </div>
            </div>
        </div>
        <div class="row content-row">

            <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>

            <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>

             <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>

            <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>

            <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>

             <div class="col-lg-4 content-col">
                <div class="content">
                    <div class="content-overlay"></div>
                            <img src="/media/original_images/laurence-katz-MkTh65JGIlU-unsplash.png" class="content-image">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Lorem Ipsum</h3>
                            </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
{# Process cards #}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center pt-5 pb-2">
                    <h2 class="home-content-title">Our Process</h2>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icon_1.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icon_2.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icon_3.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icon_4.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icon_5.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 content-col">
            <div class="card">
                <div class="img-border">
                    <img class="card-img-top process-img" src="/media/original_images/icong_6.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Take Your Measurements</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
<script>
    $(document).ready(function () {
    $("#owl").owlCarousel({
        items:1,
        loop:true,
        dots:true,
        numbers:true,
        {#autoplay:true,#}
        {#autoplaySpeed:1000,#}
        smartSpeed:1500,
        autoplayHoverPause:true,
    })
});
</script>

{% endblock %}
{% endblock %}
